<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Page title -->
<title>猎多金财富</title>

<!-- Meta -->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Favicon -->
<link rel="shortcut icon" href="/img/logo-small.png"/>

<!-- Style -->
<link rel="stylesheet" href="/css/theme.css"/>

<!-- Toastr style -->
<link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet"/>

<!-- TODO: Predefined Schemes (select one of the presented) -->
<!-- <link rel="alternate stylesheet" href="/css/theme-persimmon.css" title="theme-persimmon"/>
<link rel="alternate stylesheet" href="/css/theme-atomic-tangerine.css" title="theme-atomic-tangerine"/>
<link rel="alternate stylesheet" href="/css/theme-yellow-sea.css" title="theme-yellow-sea"/>
<link rel="alternate stylesheet" href="/css/theme-rio-grande.css" title="theme-rio-grande"/>
<link rel="alternate stylesheet" href="/css/theme-vida-loca.css" title="theme-vida-loca"/>
<link rel="alternate stylesheet" href="/css/theme-mountain-meadow.css" title="theme-mountain-meadow"/>
<link rel="alternate stylesheet" href="/css/theme-java.css" title="theme-java"/>
<link rel="alternate stylesheet" href="/css/theme-mariner.css" title="theme-mariner"/>
<link rel="alternate stylesheet" href="/css/theme-medium-purple.css" title="theme-medium-purple"/>
<link rel="alternate stylesheet" href="/css/theme-lavender-magenta.css" title="theme-lavender-magenta"/> -->
<link rel="stylesheet" type="text/css" href="/css/styleswitcher.css" property=""/>
</head>
<body>
<input type="hidden" id="phid" th:value="${phid}"/>
<input type="hidden" id="type" th:value="${type}"/>
<!-- Preloader -->
<div id="preloader">
<div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header -->
<header id="home" class="header">

<!-- Navigation -->
<nav id="navigation" class="navbar affix">

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<!-- Navigation Header -->
				<div class="navbar-header">

					<!-- Brand -->
					<a href="/index-" class="brand">

						<!-- Logo Big -->
						<img src="/img/logo.png" class="logo-big" alt=""/>
						<!-- /Logo Big -->

						<!-- Logo Small -->
						<img src="/img/logo-small.png" class="logo-small" alt=""/>
						<!-- /Logo Small -->

					</a>
					<!-- /Brand -->

				</div>
				
			</div>
		</div>

	</div>
</nav>
<!-- /Navigation -->

</header>
<!-- /Header -->



<!-- Main -->
<div style="max-width: 800px;margin: 0 auto;padding: 100px 20px 20px 20px; ">
<div class="row" >
    <div>
        <div>
            <div style="text-align: center;">
            	<div>
            		<h2 th:if="${type=='gong'}" style="color: #ff5555">
                        工&nbsp;薪&nbsp;贷
                    </h2>
                    <h2 th:if="${type=='nong'}" style="color: #ff5555">
                        新&nbsp;农&nbsp;贷
                    </h2>
                    <h2 th:if="${type=='sheng'}" style="color: #ff5555">
                        生&nbsp;意&nbsp;贷
                    </h2>
                    <h2 th:if="${type=='fang'}" style="color: #ff5555">
                        房&nbsp;贷
                    </h2>
                    <h2 th:if="${type=='che'}" style="color: #ff5555">
                        车&nbsp;贷
                    </h2>
                    <h2 th:if="${type=='dian'}" style="color: #ff5555">
                        垫&nbsp;资&nbsp;过&nbsp;桥
                    </h2>
            	</div>
                <div style="text-align: left;">
                    <h3>
                        详细介绍
                    </h3>
                    <h5 th:if="${type=='gong'}">
	                	地区：泰安
	                	<br/>
	                	<br/>
	                	年龄：20-60岁
	                	<br/>
	                	<br/>
	                	条件：在本地工作，工作发放现金或打卡
	                	<br/>
	                	<br/>
	                    你没看错，找我们，贷款就是这么简单
	                </h5>
	                
	                <h5 th:if="${type=='che'}">
	                	地区：泰安
	                	<br/>
	                	<br/>
	                	年龄：18岁以上
	                	<br/><br/>
	                	条件：全款车，分期车，抵押车，来车就能贷
	                	<br/><br/>
	                    你没看错，找我们，贷款就是这么简单
	                </h5>
	                
	                <h5 th:if="${type=='sheng'}">
	                	地区：泰安
	                	<br/><br/>
	                	年龄：20-60岁
	                	<br/><br/>
	                	条件：在本地有实体经营生意，有无营业执照均可！！！。
	                	<br/><br/>
	                    你没看错，找我们，贷款就是这么简单
	                </h5>
	                
	                <h5 th:if="${type=='fang'}">
	                	地区：泰安
	                	<br/><br/>
	                	年龄：20-60岁
	                	<br/><br/>
	                	条件：收入无限制，在本地做生意且有房产（自建房，大产权房，小产权房）。
	                	<br/><br/>
	                    你没看错，找我们，贷款就是这么简单
	                </h5>
	                <h5 th:if="${type=='nong'}">
	                	地区：泰安
	                	<br/><br/>
	                	年龄：20-60岁
	                	<br/><br/>
	                	条件：收入无限制，在本地有养殖、种植场地或用途证明。
	                	<br/><br/>
	                    你没看错，找我们，贷款就是这么简单
	                </h5>
	                
	                <h5 th:if="${type=='dian'}">
	                	地区：泰安
	                	<br/><br/>
	                	各种垫资过桥业务是专门针对于已经申请了贷款，但由于某种原因无法按时偿还贷款的人，而推出的一种专门化的服务。
	                	是由第三方的机构代替贷款者提前偿还所欠的贷款，从而避免让贷款者被银行处罚或被列入失信黑名单
	                	<br/><br/>
	                    你没看错，找我们，贷款就是这么简单
	                    
	                </h5>
	                
	                <h5>
	                	提交申请，我们将安排最专业的财富经理，在最快的时间联系您，一对一为您服务，为您制定最完美的方案。
	                </h5>
	                
	                <h5>
	                	不要被现实的冷漠打到，有困难找猎多金，我们时刻恭候您的光临，我们期待在您成功的道路上帮一把手！
	                </h5>
	                
	                <h5>
	                	祝您：万事如意发大财！
	                </h5>
                </div>
                
                <br/><br/><br/><br/>
                <h3>我要贷款</h3>
                <form id="form" class="m-t" method="post" role="form" action="">
			        <div class="form-group">
	                	<small><span id="prompt1">7位以内中文字符！</span><span id="userNamemsg" style="color: red;"></span></small>
	                    <input type="text" id="userName" name="userName" class="form-control" placeholder="姓名" />
	                </div>
	                <div class="form-group">
	                	<small><span id="prompt2">11位手机号或者05386666666格式电话号码！</span><span id="phoneNumbermsg" style="color: red;"></span></small>
	                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="手机号" />
	                </div>
			        <input type="hidden" name="state" value="2"/>
			        <button type="button" class="btn" onclick="saveLoanUser()">申请贷款</button>
			    </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /Main -->



<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
<i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->
<footer>
	<p style="text-align: center;">&copy; 2018 LieDuoJin.f All Rights Reserved. <!-- &middot; <a href="#">隐私</a> &middot; <a href="#">条款</a> --></p>
</footer>
<!-- SCRIPTS -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/jquery.qrcode.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/general.js"></script>
<!-- /SCRIPTS -->
<!-- Toastr script -->
<script src="/js/plugins/toastr/toastr.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspiniaHome.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

<script src="/js/styleswitcher.js"></script>
<!-- /Styleswitcher -->
<script type="text/javascript">
/*<![CDATA[*/
function saveLoanUser(){
	
	var check=0;
	var type = $("#type").val();
	
	var userName = $("#userName").val();
	var phoneNumber = $("#phoneNumber").val();
	
	//姓名
	if(userName.length<1 || userName.length>7){
		//msg="用户名必须是7位以内中文字符！";
		$("#prompt1").html("");
		$("#userNamemsg").html("必须是7位以内中文字符！");
		check = check-1;
	}else{
		$("#userNamemsg").html("");
		check = check+1;
	}
	//电话
	var myreg=/^[1,0][0-9]{10}$/; 
	if(!myreg.test(phoneNumber)){
		$("#prompt2").html("");
		$("#phoneNumbermsg").html("必须输入11位手机号或者05386666666格式电话号码！");
		check = check-1;
	}else{
		$("#phoneNumbermsg").html("");
		check = check+1;
	}
	if(check!=2){
		//alert("未按要求正确填写！");
		return;
	}
	form.action="/user/saveLoanUser-"+type;
	form.submit();
}
    
/*]]>*/
</script>
</body>
</html>
