
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>菜单列表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/adminLogin">首页</a>
            </li>
            <li>
                <a>系统管理</a>
            </li>
            <li class="active">
                <strong>菜单列表</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<!-- 数据缓存区 开始 -->
<!-- 数据缓存区 结束 -->
<div class="wrapper wrapper-content animated fadeIn">
	<div class="p-w-md m-t-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>菜单列表</h5>
						<div class="ibox-tools">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="close-link"> <i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<form id="mainForm" action=""  class="form-horizontal" method="post">
							<!-- 数据缓存区 开始 -->
							<!-- 数据缓存区 结束 -->
							<div class="form-group">
								<label class="col-sm-2 control-label">菜单名称</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="menuName" name="menuName" th:value="${dto.menuName}" class="form-control"/>
	                            </div>
	                        
	                        	<label class="col-sm-1 control-label">地址</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="menuUrl" name="menuUrl" th:value="${dto.menuUrl}" class="form-control"/>
	                            </div>
	                            
	                            <label class="col-sm-1 control-label">层级</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="mark" name="mark" th:value="${dto.mark}" class="form-control"/>
	                            </div>
	                            
	                        </div>
	                        
	                        <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-primary" type="button" onclick="search()">查询</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
						</form>
						<div class="table-responsive">
							<button type="button" id="addM" onclick="toMenuAdd()" class="btn btn-primary btn-sm">新增</button>
							<button type="button" id="editM" onclick="toMenuEdit()" class="btn btn-primary btn-sm">修改</button>
							<button type="button" id="deleteM" onclick="toMenuDelete()" class="btn btn-danger btn-sm">删除</button>
							<table class="table table-striped table-bordered table-hover ">
								<thead>
									<tr>
										<th width="60px"><input id="btnCheckAll" type="checkbox" value=""/>全选</th>
										<th>序号</th>
										<th>状态</th>
										<th>菜单名称</th>
										<th>地址</th>
										<th>排序</th>
										<th>层级</th>
										<th>说明</th>
										
									</tr>
								</thead>
								<tbody>
									<tr th:each="menu,menustate:${page.result}">
										<td><input name="menuId" type="checkbox" th:value="${menu.id}"/></td>
										<td th:text="${menustate.count}"></td>
										<td th:if="${menu.flag==1}">启用 &nbsp;&nbsp; <button type="button" id="disabled" th:attr="onclick='javascript:toMenuAble(\''+${menu.id}+'\',0);'" class="btn btn-danger btn-xs">禁用</button></td>
										<td th:if="${menu.flag==0}">禁用 &nbsp;&nbsp; <button type="button" id="usable" th:attr="onclick='javascript:toMenuAble(\''+${menu.id}+'\',1);'" class="btn btn-primary btn-xs">启用</button></td>
										<td th:text="${menu.menuName}"></td>
										<td th:text="${menu.menuUrl}"></td>
										<td th:text="${menu.menuIndex}"></td>
										<td th:text="${menu.mark}"></td>
										<td th:text="${menu.menuDesc}"></td>
									</tr>
								</tbody>
							</table>
							<div>
								<input name="pageNum" id="pageNum" type="hidden" th:value="${page.pageNum}" />
								<input name="pages" id="pages" type="hidden" th:value="${page.pages}" />
								<table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table" style="width: 100%; table-layout: fixed; height: 100%;" role="row">
									<tbody>
										<tr>
											<td id="pager_list_2_left" align="left">
												每页
												<select id="pageSize" name="pageSize" class="ui-pg-selbox" role="listbox">
												   	<option role="option" value="10" th:selected="${page.pageSize==10}">10</option>
													<option role="option" value="20" th:selected="${page.pageSize==20}">20</option>
													<option role="option" value="30" th:selected="${page.pageSize==30}">30</option>
													<option role="option" value="50" th:selected="${page.pageSize==50}">50</option>
												</select>
											    条
											</td>
											<td id="pager_list_2_center" align="center" style="white-space: pre; width: 300px;"><table cellspacing="0" cellpadding="0" border="0" style="table-layout: auto;" class="ui-pg-table">
													<tbody>
														<tr>
															<td id="first_pager_list_2" class="ui-pg-button ui-corner-all ui-state-disabled" style="cursor: default;"><button id="first" type="button" class="btn btn-default btn-xs disabled" style="margin: 0">首页</button></td>
															<td id="prev_pager_list_2" class="ui-pg-button ui-corner-all ui-state-disabled" style="cursor: default;"><button id="prev" type="button" class="btn btn-default btn-xs disabled" style="margin: 0">上一页</button></td>
															<td class="ui-pg-button ui-state-disabled" style="width: 4px; cursor: default;"> |</td>
															<td dir="ltr"> 转到 <input id="toPageNum" name="toPageNum" class="ui-pg-input" type="text" size="2" maxlength="4" th:value="${page.pageNum}" role="textbox" /> 页  <button id="go" type="button" class="btn btn-default btn-xs" style="margin: 0">GO</button></td>
															<td class="ui-pg-button ui-state-disabled" style="width: 4px; cursor: default;">| </td>
															<td id="next_pager_list_2" class="ui-pg-button ui-corner-all" style="cursor: default;"><button id="next" type="button" class="btn btn-default btn-xs disabled" style="margin: 0">下一页</button></td>
															<td id="last_pager_list_2" class="ui-pg-button ui-corner-all" style="cursor: default;"><button id="end" type="button" class="btn btn-default btn-xs disabled" style="margin: 0">尾页</button></td>
															<td dir="ltr"></td>
														</tr>
													</tbody>
												</table></td>
											<td id="pager_list_2_right" align="right">
												<div dir="ltr" style="text-align: right" class="ui-paging-info">当前<span th:text="${page.pageNum}"></span>页 - 共<span th:text="${page.pages}"></span>页 共<span th:text="${page.total}"></span>条</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">  
/*<![CDATA[*/  
	
 	$(function() {
 		/****************************翻页开始*****************************/
 		//当前页码
 		var pageNum = $("#pageNum").val();
 		//总页码
 		var pages = $("#pages").val();
 		
 		//首页上一页按钮释放
 		if(parseInt(pageNum) > 1){
			$("#first").removeClass("disabled");
			$("#prev").removeClass("disabled");
		}
		//下一页尾页释放
		if(parseInt(pageNum) < parseInt(pages)){
			$("#next").removeClass("disabled");
			$("#end").removeClass("disabled");
		}
		
 		//改变表格行数
 		$('#pageSize').change(function(){
 			search();
 		});
 		
 		//跳转到指定页
		$("#go").click(function(){
			//转到多少页
	 		var toPageNum = $("#toPageNum").val();
			
	 		if(toPageNum == ""){
	 			toastr.warning("请输入要跳转页面的页数！");
 				$("#toPageNum").focus();
 				return;
 			}
 			var arr =new RegExp("^[0-9]*$");
 			if(!arr.exec(toPageNum)){
 				toastr.warning("输入内容非法，请输入正确数字！");
 				$("#toPageNum").val("").focus();
 				return;
 			}
			if(parseInt(toPageNum) > parseInt(pages) || 1 > parseInt(toPageNum)){
				toastr.warning("输入页数超出范围，请出新输入！");
 				$("#toPageNum").val("").focus();
 				return;
 			 }
 			$("#pageNum").val("toPageNum");
 			search();
		});
		//首页
		$("#first").click(function(){
			$("#pageNum").val("1");
 			search();
		});
		//上一页
		$("#prev").click(function(){
			$("#pageNum").val(parseInt(pageNum)-1);
 			search();
		});
		//下一页
		$("#next").click(function(){
			$("#pageNum").val(parseInt(pageNum)+1);
 			search();
		});
		//尾页
		$("#end").click(function(){
			$("#pageNum").val(pages);
 			search();
		});
		/****************************翻页结束*****************************/
		//新增菜单结果提示
		
		//初始禁用修改删除按钮
		$("#editM").attr("disabled",true);
		$("#deleteM").attr("disabled",true);
		//全选 点击全选
		$("#btnCheckAll").bind("click", function() {
			if ($("#btnCheckAll").is(":checked") == true) {
				$("[name='menuId']:checkbox").prop("checked", "checked");
				$("#editM").attr("disabled",true);
				$("#addM").attr("disabled",true);
				$("#deleteM").removeAttr("disabled");
			} else {
				$("[name= menuId]:checkbox").prop("checked", "");
				$("#editM").attr("disabled",true);
				$("#addM").removeAttr("disabled");
				$("#deleteM").attr("disabled",true);
			}
		});
		//点击单个复选框
		$("[name='menuId']:checkbox").bind("click", function() {
			//获取选中的复选框
			var menuIds = new Array();
			$("[name = 'menuId']:checkbox").each(function () {
				if ($(this).is(":checked")) {
					menuIds.push($(this).attr("value"));
				};
			});
			//选中大于1个禁用修改按钮
			if (menuIds.length==1) {
				$("#editM").removeAttr("disabled");
			}else{
				$("#editM").attr("disabled",true);
			}
			//选中复选框按钮禁用新增按钮启用删除按钮，else启用新增禁用删除
			if (menuIds.length>0) {
				$("#addM").attr("disabled",true);
				$("#deleteM").removeAttr("disabled");
			}else{
				$("#addM").removeAttr("disabled");
				$("#deleteM").attr("disabled",true);
			}
		});
 	});
 	
	//查询
	function search() {
		var pageNum = $("#pageNum").val();
		var pageSize = $('#pageSize').val();
		var formData = arrayToJson($('#mainForm').serializeArray())
		//new FormData(document.getElementById("mainForm")); 
		$("#right").load("/menu/menuList", {
			pageNum : pageNum,
			pageSize : pageSize,
			formData : formData
		});
	}
	//增加
	function toMenuAdd() {
		$("#right").load("/menu/toMenuAdd");
	}
	//修改
	function toMenuEdit() {
		//获取选中的复选框
		var menuIds;
		$("[name = 'menuId']:checkbox").each(function () {
			if ($(this).is(":checked")) {
				menuIds=($(this).attr("value"));
			};
		});
		$("#right").load("/menu/toMenuEdit", {menuIds:menuIds});
	}
	
	//删除
	function toMenuDelete() {
		//获取选中的复选框
		var menuIds='';
		$("[name = 'menuId']:checkbox").each(function () {
			if ($(this).is(":checked")) {
				if('undefined' != $(this).attr("value")){
					if(''==roleIds){
						menuIds=($(this).attr("value"));
					}else{
						menuIds=roleIds+","+($(this).attr("value"));
					}
				}
			};
		});
		$("#right").load("/menu/toMenuDelete", {menuIds:menuIds});
	}
	
	//启用，禁用
	function toMenuAble(menuIds,able) {
		$("#right").load("/menu/toMenuAble", {menuIds:menuIds,able:able});
	}
	/*]]>*/
</script> 
