

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>菜单增加</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/adminLogin">首页</a>
            </li>
            <li>
                <a>系统管理</a>
            </li>
            <li class="active">
                <strong>菜单增加</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<div class="p-w-md m-t-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>菜单增加</h5>
						<div class="ibox-tools">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="close-link"> <i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<form id="mainForm" action=""  class="form-horizontal">
							<input type="hidden" name="id" id="id" th:value="${dto.id}" />
							<div class="form-group">
								<label class="col-sm-2 control-label">名称</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="menuName" name="menuName" th:value="${dto.menuName}" class="form-control" />
	                            </div>
	                        
	                        	<label class="col-sm-1 control-label">地址</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="menuUrl" name="menuUrl" th:value="${dto.menuUrl}" class="form-control" />
	                            </div>
	                            
	                            <label class="col-sm-1 control-label">层级</label>
                                <div class="col-sm-2">
	                            	<input type="text" id="mark" name="mark" th:value="${dto.mark}" class="form-control" />
	                            </div>
	                        </div>
	                        <div class="form-group">
								<label class="col-sm-2 control-label">说明</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="menuDesc" name="menuDesc" th:value="${dto.menuDesc}" class="form-control" />
	                            </div>
	                        
	                        	<label class="col-sm-1 control-label">排序</label>
	                            <div class="col-sm-2">
	                            	<input type="text" id="menuIndex" name="menuIndex" th:value="${dto.menuIndex}" class="form-control" />
	                            </div>
	                            
	                            <label class="col-sm-1 control-label">上级</label>
                                <div class="col-sm-2">
	                            	<input type="text" id="parentName" name="parentName" th:value="${dto.parentName}" data-toggle="modal" data-target="#myModal4" class="form-control" />
	                            	<input type="hidden" id="parentId" name="parentId" th:value="${dto.parentId}"/>
	                            	<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
		                                <div class="modal-dialog">
		                                    <div class="modal-content animated fadeIn">
		                                        <div id="jstree1">
							                        <ul>
							                            <li class="jstree-open" id="11111111111111111111111111111111">菜单列表
							                                <ul th:each="menu,menuState:${menus}">
							                                    <li th:if="${menu.mark=='1'}" th:id="${menu.id}" th:text="${menu.menuName}"></li>
							                                </ul>
							                            </li>
							                        </ul>
							                    </div>
		                                        <div class="modal-footer">
		                                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
		                                            <button type="button" class="btn btn-primary" onclick="saveParentName()" data-dismiss="modal">确定</button>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
	                            </div>
	                        </div>
	                        
	                        <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-primary" type="button" onclick="save()">保存</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-white" type="button" onclick="cancel()">取消</button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
						</form>
						<div id="using_json"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">  
/*<![CDATA[*/  
	
	var validator;
 	
 	var parentName='';
 	var parentId='';
 	
 	$(document).ready(function(){
 		
		$('#jstree1').jstree({
			'core' : {
				'check_callback' : true
			}
		});
		
		$('#jstree1').on("changed.jstree", function(e, data) {
			parentName=data.instance.get_selected(true)[0].text;
			parentId=data.selected;
		});

		validator = $("#mainForm").validate({
			rules : {
				menuName : {
					required : true,
					maxlength : 10
				},
				menuUrl : {
					required : true,
					maxlength : 50
				},
				mark : {
					required : true,
					maxlength : 1
				},
				menuDesc : {
					required : true,
					maxlength : 50
				},
				menuIndex : {
					required : true,
					maxlength : 3
				}
			}
			
		});
	});
 	
 	//菜单赋值
 	function saveParentName() {
 		$("#parentName").val(parentName);
 		$("#parentId").val(parentId);
	}
 	//增加
 	function save() {
 		
 		if(!validator.form()){
 			return false;
 		}
		
 		var formData = arrayToJson($('#mainForm').serializeArray());
 		$.ajax({
		    url: '/menu/menuSave',
		    data: {"formData":formData},
		    type: 'post',
		    dataType: "text",
		    success: function(data) { 
		    	if("1"==data){
	 				toastr.success("保存成功！");
	 				$("#right").load("/menu/menuList");
	 			}else if("-1"==data){
	 				toastr.warning("保存失败,提交内容为空！");
	 			}
		     },
		     error: function() {	
		    	 toastr.warning("保存失败！");
		     }
		}); 
	
		
	}
 	//取消
 	function cancel() {
 		$("#right").load("/menu/menuList");
	}
	/*]]>*/
</script> 
